{% extends "base.html" %}
{% load static %}
{% block content %}
<!--example-->
<div class="row mb-4 my-5">
    <div class="col-2">
        <img class="cover-pic" src="{% static 'images/beruniy.jfif' %}" alt="">
    </div>
    <div class="col-6 ms-4">
      <p class="card-text">
          Vaqt pillapoyasi cheksizdir, bir-birining o’rnini egallab boradigan
          avlodlar zinadan zinagagina ko’tariladilar, xolos. Jamlangan tajribani
          har bir avlod o’zidan keyin kelayotgan, o’zidan keyin uni taraqqiy
          ettiradigan va boyitadigan navbatdagi avlodga etkazib beradi.
          Vaqt pillapoyasi cheksizdir, bir-birining o’rnini egallab boradigan
          avlodlar zinadan zinagagina ko’tariladilar, xolos. Jamlangan tajribani
          har bir avlod o’zidan keyin kelayotgan, o’zidan keyin uni taraqqiy
          ettiradigan va boyitadigan navbatdagi avlodga etkazib beradi.
      </p>
      <p class="card-text"><small class="text-muted"><b>Abu Rayxon Beruniy</b></small></p>

    </div>

</div>
<hr>
<div>
  <h1>Xush kelibsiz!</h1>
  <p>
    Mutolaa – har qanday yoshda ham urfda. O‘zingiz uchun badiiy va ilmiy-ommabop
    adabiyotning ajib dunyolarini kashf eting, zamonaviy non-fikshn yo‘nalishi
    bilan bilim va ko‘nikmalaringizni yanada boyiting yoki ertaknamo qissalarning
    yorqin nashrlari bilan bolajonlarni quvontiring.
    Kitoblarning eng qulay internet-do‘koniga tashrif buyurishni taklif etamiz.
    Siz uchun biz Toshkent shahri va viloyatidagi, Qoraqalpog‘iston Respublikasidagi,
    Andijon, Buxoro, Farg‘ona, Jizzax, Xorazm, Namangan, Navoiy, Qashqadaryo, Samarqand
    va Sirdaryo viloyatlaridagi istalgan manzilga yangi kitobni yoki klassik
    adabiyotning kamyob nusxasini yetkazib beramiz.
</p>
</div>

{% endblock content %}
